<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title th:text="${mensaje}">Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">


	<h1 th:text="${mensaje}"></h1>
	<h2 th:text="${nombre}"></h2>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>CUSTOMER</th>
				<th>PERSON</th>
				<th>DISTANCIA</th>
				<th>TIEMPO</th>
			</tr>
		</thead>
	
		<tbody>
			<tr th:each="tabla: ${tabla}">
				<td th:text=${tabla.Persona}></td>
				<td th:text=${tabla.Cliente}></td>
				<td th:text=${tabla.Distancia}></td>
				<td th:text=${tabla.Tiempo}></td>
			</tr>
		</tbody>
		</table>
</div>
</body>
</html>